# Virtual environment
venv/

# Python cache
__pycache__/
*.pyc

# Databases and OS files
*.db
.DS_Store

# Environment variables
.env

# Ignore files in data/ but keep the directory
data/*
!data/.keep